app.properties
test.properties
flyway.properties
target/

*.class
hs_err_pid*
*.war
*.ear
nbactions.xml
nb-configuration.xml
*.iml

.idea/
*.iml
.mtj.tmp/
target/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
/out/
.idea_modules/

classes/
deploy/
javadoc/

.project
.classpath
.target

target/

.svn/

.settings/